#msg-box{
    overflow:auto;
    width:750px;
    height:300px;
    border:1px solid black;
    padding:5px;
    margin: 0px;
    display:inline-block;
    background:#FFF;
    margin:32px 0 0 32px;
}
#msg-box ul{
    list-style:none;
    padding:0;
    margin:0;
}
#t-box{
    margin-left:32px;
}
